<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aiot.mclaren.senna.host.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="aiot.mclaren.senna.model.entity.Category">
        <result column="id" property="id" />
        <result column="create_dt" property="createDt" />
        <result column="update_dt" property="updateDt" />
        <result column="category_key" property="categoryKey" />
        <result column="category_name" property="categoryName" />
        <result column="super_id" property="superId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_dt,
        update_dt,
        category_key, category_name, super_id
    </sql>

</mapper>
