<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aiot.mclaren.senna.host.mapper.DeviceAclMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="aiot.mclaren.senna.model.entity.DeviceAcl">
        <result column="id" property="id" />
        <result column="create_dt" property="createDt" />
        <result column="update_dt" property="updateDt" />
        <result column="allow" property="allow" />
        <result column="ipaddr" property="ipaddr" />
        <result column="username" property="username" />
        <result column="clientid" property="clientid" />
        <result column="access" property="access" />
        <result column="topic" property="topic" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_dt,
        update_dt,
        allow, ipaddr, username, clientid, access, topic
    </sql>

</mapper>
