<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aiot.mclaren.senna.host.mapper.DeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="aiot.mclaren.senna.model.entity.Device">
        <result column="id" property="id" />
        <result column="create_dt" property="createDt" />
        <result column="update_dt" property="updateDt" />
        <result column="iot_id" property="iotId" />
        <result column="nick_name" property="nickName" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="device_name" property="deviceName" />
        <result column="is_superuser" property="isSuperuser" />
        <result column="device_secret" property="deviceSecret" />
        <result column="device_description" property="deviceDescription" />
        <result column="device_status" property="deviceStatus" />
        <result column="active_dt" property="activeDt" />
        <result column="online_dt" property="onlineDt" />
        <result column="product_key" property="productKey" />
        <result column="enable" property="enable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_dt,
        update_dt,
        iot_id, nick_name, username, password, salt, device_name, is_superuser, device_secret, device_description, device_status, active_dt, online_dt, product_key, enable
    </sql>

</mapper>
